/*body{background-color: blueviolet;} /*color de fondo/* */
body{ background : url(../imagenes/header_sitio_web_logo_2.webp);
      background-repeat: no-repeat; * /* no repite la imagen de fondo*/
      }
div{background-color:darkkhaki ;}



